{{ define "banner"}}
 <!-- ======== @Region: #highlighted ======== -->
 <div id="highlighted" class="border-bottom-0 bg-black">
  <!-- Image Banner: Use the the data-bg-img functionality to create a simple image banner Use spacer classes to make the banner larger with padding, allows for easy responsive changes too see: elements-ctas.htm To make the banner full height/screen add the attributes: data-toggle="full-height" data-offset="#header" -->
  <div class="overlay overlay-op-7 text-center px-3 pb-5 pt-7 py-lg-8 flex-valign" data-bg-img="assets/img/backgrounds/index-corporate-banner.jpg" data-css='{"background-position": "center bottom","background-attachment": "fixed"}' data-animate="fadeIn"
    data-toggle="full-height" data-breakpoint="992">
    <div data-scroll="scrollax" data-scrollax-y-ratio="1000" class="py-lg-6 pt-lg-8">
      <h2 class="display-3 text-white text-uppercase font-weight-bold" data-animate="fadeInDown" data-animate-delay="0.6">
        Superior Custom Homes
        </span>
      </h2>
      <h3 class="text-grey font-weight-normal" data-animate="fadeInUp" data-animate-delay="0.8">
        <span data-typed='["All Custom", "Focused", "Quality Built", "High End Custom Built Homes"]' data-typed-settings='{"delay":2000, "speed":120,"breakLines":false, "deleteDelay":1400, "doneClass":{"#get-btn":"animated fadeIn"}}'></span>
      </h3>
      <a href="#" class="btn btn-dark btn-lg text-uppercase font-weight-bold py-3 px-4 animate-pending mt-3" id="get-btn">Get AppStrap <i class="fa fa-rocket"></i></a>
    </div>
  </div>
</div>
{{ end }}
{{ define "main" }}
<div id="content" class="p-0 clearfix">
  <!-- Features -->
  <div id="features" class="bg-white">
    <div class="bg-dark text-white p-3 p-lg-4 text-center divider-arrow divider-arrow-b divider-dark">
      <div class="container">
        <hr class="hr-lg mt-0 mb-2 w-10 mx-auto hr-primary" />
        <h2 class="text-center text-uppercase font-weight-bold my-0">
          Feature Rich
        </h2>
        <h5 class="text-center font-weight-light mt-2 mb-0 text-white op-5">
          One theme with limitless possibilities!
        </h5>
      </div>
    </div>
    <div class="container p-4 py-lg-6">
      <div class="row text-center">
        <div class="col-lg-3 py-2">
          <i class="fa fa-tachometer-alt icon-3x text-primary" data-animate="fadeIn" data-animate-delay="0.1"></i>
          <h4 class="mt-2">
            Fully Optimized
          </h4>
          <p>Abbas exputo imputo melior secundum veniam verto. Conventio iusto odio.</p>
        </div>
        <div class="col-lg-3 py-2">
          <i class="fa fa-wrench icon-3x text-primary" data-animate="fadeIn" data-animate-delay="0.2"></i>
          <h4 class="mt-2">
            Free Support
          </h4>
          <p>Duis et persto praesent quidne roto. Consectetuer dolus odio singularis.</p>
        </div>
        <div class="col-lg-3 py-2">
          <i class="fa fa-rocket icon-3x text-primary" data-animate="fadeIn" data-animate-delay="0.3"></i>
          <h4 class="mt-2">
            Free Upgrades
          </h4>
          <p>Capto quadrum uxor. Meus nobis usitas. Abico aliquam cui dolore huic illum scisco vulputate wisi.</p>
        </div>
        <div class="col-lg-3 py-2">
          <i class="fa fa-chart-line icon-3x text-primary" data-animate="fadeIn" data-animate-delay="0.4"></i>
          <h4 class="mt-2">
            99.9% Uptime
          </h4>
          <p>Commoveo enim ille meus molior vulputate. Amet consequat humo illum molior pertineo quia.</p>
        </div>
      </div>
    </div>
  </div>
  <!-- Why AppStrap -->
  <div class="bg-dark">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-5 overlay overlay-gradient overlay-op-6 d-none d-lg-block" data-bg-img="assets/img/backgrounds/computer-screens.jpg"></div>
        <div class="col-lg-5 p-5 p-lg-7 divider-arrow divider-arrow-l divider-dark">
          <hr class="hr-lg mt-0 mb-2 w-10 ml-0 hr-primary" />
          <h2 class="display-4 text-slab text-white text-uppercase mt-0 mb-5">
            Choose <span class="text-primary font-weight-bold">AppStrap</span>
          </h2>
          <h4 class="font-weight-bold text-white text-uppercase mb-1">
            Fully Optimized
          </h4>
          <p class="text-grey mb-0">Appellatio eligo haero volutpat. Abico immitto nostrud qui vicis wisi. Incassum quadrum turpis. Abico ad commodo duis enim jus quidem saepius.</p>
          <p class="text-grey mb-4">Camur importunus in nulla quibus suscipere tincidunt. Praemitto scisco si. Causa ibidem luctus tum. Abbas antehabeo eligo nimis torqueo venio.</p>
          <h4 class="font-weight-bold text-white text-uppercase mb-1">
            Free Upgrades
          </h4>
          <p class="text-grey mb-3">Elit exputo facilisis feugiat gravis usitas vel. Exerci ideo immitto laoreet lucidus patria quibus similis ullamcorper.</p>
          <h4 class="font-weight-bold text-white text-uppercase mb-1">
            99.9% Uptime
          </h4>
          <p class="text-grey mb-3">Erat haero obruo praesent vulputate. Causa dolore elit facilisis immitto letalis oppeto similis vereor. Commoveo gravis quadrum.</p>
        </div>
      </div>
    </div>
  </div>
  <!-- Promos -->
  <div class="container py-4 py-lg-6">
    <div class="row text-left">
      <div class="col-lg-4 d-lg-flex mb-3 mb-lg-0">
        <div class="px-3 pb-3 pt-7 overlay overlay-gradient overlay-op-8 rounded flex-ew flex-valign-b" data-bg-img="assets/img/homes/happy.jpg">
          <h2 class="text-white mb-0 display-4 font-weight-bold">
            <span data-toggle="count-to" data-to="898" data-from="0">0</span>k
          </h2>
          <p class="text-white text-uppercase mb-0">Happy Customers</p>
          <hr class="hr-lg my-2 w-20 ml-0 hr-primary" />
        </div>
      </div>
      <div class="col-lg-4 d-lg-flex mb-3 mb-lg-0">
        <div class="px-3 pb-3 pt-7 overlay overlay-gradient overlay-op-8 rounded flex-ew flex-valign-b" data-bg-img="assets/img/homes/code.jpg">
          <h2 class="text-white mb-0 display-4 font-weight-bold">
            <span data-toggle="count-to" data-to="8980" data-from="0">0</span>k
          </h2>
          <p class="text-white text-uppercase mb-0">Lines of code</p>
          <hr class="hr-lg my-2 w-20 ml-0 hr-primary" />
        </div>
      </div>
      <div class="col-lg-4 d-lg-flex">
        <div class="px-3 pb-3 pt-7 overlay overlay-gradient overlay-op-8 rounded flex-ew flex-valign-b" data-bg-img="assets/img/homes/coffee.jpg">
          <h2 class="text-white mb-0 display-4 font-weight-bold">
            <span data-toggle="count-to" data-to="5088" data-from="0">0</span>
          </h2>
          <p class="text-white text-uppercase mb-0">Cups of coffee</p>
          <hr class="hr-lg my-2 w-20 ml-0 hr-primary" />
        </div>
      </div>
    </div>
  </div>
  <!-- Features side by side -->
  <div id="features-sidebyside" class="pt-6 bg-white overlay overlay-op-7" data-bg-img="https://images.unsplash.com/photo-1474739265988-7c6eab6c5a21?dpr=1&auto=format&fit=crop&w=1500&h=907&q=80&cs=tinysrgb&crop=">
    <div class="container">
      <div class="row text-left">
        <div class="col-lg-3 text-lg-right flex-valign py-lg-6" data-animate="fadeIn" data-animate-delay="0.2">
          <div class="p-4 overlay overlay-gradient overlay-op-9 flex-ew flex-valign mb-4 divider-arrow divider-arrow-r divider-lg divider-op-8">
            <h2 class="text-white mb-0 font-weight-bold text-uppercase ">
              Simple
            </h2>
            <p class="text-white mb-0 text-sm">Mauris os saluto veniam verto.</p>
            <hr class="hr-lg my-2 w-20 ml-0 ml-lg-auto mr-lg-0 hr-primary" />
          </div>
          <div class="p-4 overlay overlay-gradient overlay-op-9 flex-ew flex-valign mb-4 divider-arrow divider-arrow-r divider-lg divider-op-8">
            <h2 class="text-white mb-0 font-weight-bold text-uppercase ">
              Easy
            </h2>
            <p class="text-white mb-0 text-sm">Adipiscing esse exerci inhibeo lenis quae si utrum volutpat zelus.</p>
            <hr class="hr-lg my-2 w-20 ml-0 ml-lg-auto mr-lg-0 hr-primary" />
          </div>
          <div class="p-4 overlay overlay-gradient overlay-op-9 flex-ew flex-valign mb-4 divider-arrow divider-arrow-r divider-lg divider-op-8">
            <h2 class="text-white mb-0 font-weight-bold text-uppercase ">
              Stylish
            </h2>
            <p class="text-white mb-0 text-sm">Ea exerci gemino iustum metuo praemitto secundum utrum veniam voco.</p>
            <hr class="hr-lg my-2 w-20 ml-0 ml-lg-auto mr-lg-0 hr-primary" />
          </div>
        </div>
        <div class="col-lg-3 order-lg-3 text-lg-left flex-valign py-lg-6" data-animate="fadeIn" data-animate-delay="0.4">
          <div class="p-4 overlay overlay-gradient overlay-op-9 flex-ew flex-valign mb-4 divider-arrow divider-arrow-l divider-lg divider-op-8">
            <h2 class="text-white mb-0 font-weight-bold text-uppercase ">
              Modern
            </h2>
            <p class="text-white mb-0 text-sm">Abbas augue comis consectetuer illum neo oppeto probo similis te.</p>
            <hr class="hr-lg my-2 w-20 ml-0 hr-primary" />
          </div>
          <div class="p-4 overlay overlay-gradient overlay-op-9 flex-ew flex-valign mb-4 divider-arrow divider-arrow-l divider-lg divider-op-8">
            <h2 class="text-white mb-0 font-weight-bold text-uppercase ">
              Flexible
            </h2>
            <p class="text-white mb-0 text-sm">Aptent duis elit macto obruo plaga saepius si sit.</p>
            <hr class="hr-lg my-2 w-20 ml-0 hr-primary" />
          </div>
          <div class="p-4 overlay overlay-gradient overlay-op-9 flex-ew flex-valign mb-4 divider-arrow divider-arrow-l divider-lg divider-op-8">
            <h2 class="text-white mb-0 font-weight-bold text-uppercase ">
              Top Value
            </h2>
            <p class="text-white mb-0 text-sm">Caecus gemino quae suscipere. Commoveo gravis jugis utrum vel.</p>
            <hr class="hr-lg my-2 w-20 ml-0 hr-primary" />
          </div>
        </div>
        <div class="col-lg-6 order-lg-2 flex-valign-b" data-animate="fadeIn" data-animate-delay="0.8">
          <img src="assets/img/homes/iphone-hello-cutoff.png" alt="iPhone" class="img-fluid mx-auto mt-auto" />
        </div>
      </div>
    </div>
  </div>
  <!-- Team -->
  <div id="team" class="pb-4 bg-white">
    <div class="bg-dark text-white p-3 p-lg-4 text-center divider-arrow divider-arrow-b divider-dark">
      <div class="container">
        <hr class="hr-lg mt-0 mb-2 w-10 mx-auto hr-primary" />
        <h2 class="text-center text-uppercase font-weight-bold my-0">
          Our Team
        </h2>
        <h5 class="text-center font-weight-light mt-2 mb-0 text-white op-5">
          A Team Of Top Talent
        </h5>
      </div>
    </div>
    <div class="container py-5 py-lg-6">
      <!-- Team cards -->
      <div class="card-deck-wrapper">
        <div class="card-deck">
          <!-- Team member 1 -->
          <div class="card product-card overlay-hover bg-shadow">
            <!-- Hover content -->
            <div class="overlay-hover-content overlay-op-9 overlay-gradient overlay-primary">
              <h3 class="mt-auto mb-0">
                Jim Jones
              </h3>
              <p class="mb-0 text-sm d-none d-lg-block">Art Director</p>
              <p class="mb-0 mt-2">
                <a href="#" class="text-white"><i class="fab fa-twitter icon-1x mr-1"></i></a>
                <a href="#" class="text-white"><i class="fab fa-linkedin-in icon-1x"></i></a>
              </p>
            </div>
            <!-- Image -->
            <img class="card-img-top img-fluid w-100 w-md-auto" src="assets/img/team/team-man-1.jpg" alt="Card image cap">
          </div>
          <!-- Team member 2 -->
          <div class="card product-card overlay-hover bg-shadow">
            <div class="overlay-hover-content overlay-op-9 overlay-gradient overlay-primary">
              <h3 class="mt-auto mb-0">
                Alice Huges
              </h3>
              <p class="mb-0 text-sm d-none d-lg-block">CTO</p>
              <p class="mb-0 mt-2">
                <a href="#" class="text-white"><i class="fab fa-twitter icon-1x mr-1"></i></a>
                <a href="#" class="text-white"><i class="fab fa-linkedin-in icon-1x"></i></a>
              </p>
            </div>
            <!-- Image -->
            <img class="card-img-top img-fluid w-100 w-md-auto" src="assets/img/team/team-girl-1.jpg" alt="Card image cap">
          </div>
          <!-- Team member 3 -->
          <div class="card product-card overlay-hover bg-shadow">
            <div class="overlay-hover-content overlay-op-9 overlay-gradient overlay-primary">
              <h3 class="mt-auto mb-0">
                Dave Rodgers
              </h3>
              <p class="mb-0 text-sm d-none d-lg-block">Developer</p>
              <p class="mb-0 mt-2">
                <a href="#" class="text-white"><i class="fab fa-twitter icon-1x mr-1"></i></a>
                <a href="#" class="text-white"><i class="fab fa-linkedin-in icon-1x"></i></a>
              </p>
            </div>
            <!-- Image -->
            <img class="card-img-top img-fluid w-100 w-md-auto" src="assets/img/team/team-man-2.jpg" alt="Card image cap">
          </div>
          <!-- Team member 4 -->
          <div class="card product-card overlay-hover bg-shadow">
            <div class="overlay-hover-content overlay-op-9 overlay-gradient overlay-primary">
              <h3 class="mt-auto mb-0">
                Amanda Davis
              </h3>
              <p class="mb-0 text-sm d-none d-lg-block">Project Manager</p>
              <p class="mb-0 mt-2">
                <a href="#" class="text-white"><i class="fab fa-twitter icon-1x mr-1"></i></a>
                <a href="#" class="text-white"><i class="fab fa-linkedin-in icon-1x"></i></a>
              </p>
            </div>
            <!-- Image -->
            <img class="card-img-top img-fluid w-100 w-md-auto" src="assets/img/team/team-girl-2.jpg" alt="Card image cap">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Clients -->
  <div id="clients" class="pt-5 bg-light">
    <div class="container pb-5">
      <!-- Logos carousel Uses Owl Carousel plugin All options here are customisable from the data-owl-carousel-settings="{OBJECT}" item via data- attributes: http://www.owlgraphic.com/owlcarousel/#customizing ie. data-settings="{"items": "4", "lazyLoad":"true", "navigation":"true"}" -->
      <div class="owl-dots-center owl-nav-over owl-nav-over-hover" data-toggle="owl-carousel" data-owl-carousel-settings='{"items": 4, "lazyLoad":true, "nav":true, "dots":true}'>
        <a href="#">
          <img data-src="assets/img/customers/customer-1.png" alt="Item 1 image" class="owl-lazy img-fluid" />
          <h5 class="mt-4 text-center">
            Customer 1
          </h5>
        </a>
        <a href="#">
          <img data-src="assets/img/customers/customer-2.png" alt="Item 2 image" class="owl-lazy img-fluid" />
          <h5 class="mt-4 text-center">
            Customer 2
          </h5>
        </a>
        <a href="#">
          <img data-src="assets/img/customers/customer-3.png" alt="Item 3 image" class="owl-lazy img-fluid" />
          <h5 class="mt-4 text-center">
            Customer 3
          </h5>
        </a>
        <a href="#">
          <img data-src="assets/img/customers/customer-4.png" alt="Item 4 image" class="owl-lazy img-fluid" />
          <h5 class="mt-4 text-center">
            Customer 4
          </h5>
        </a>
        <a href="#">
          <img data-src="assets/img/customers/customer-5.png" alt="Item 5 image" class="owl-lazy img-fluid" />
          <h5 class="mt-4 text-center">
            Customer 5
          </h5>
        </a>
        <a href="#">
          <img data-src="assets/img/customers/customer-6.png" alt="Item 6 image" class="owl-lazy img-fluid" />
          <h5 class="mt-4 text-center">
            Customer 6
          </h5>
        </a>
        <a href="#">
          <img data-src="assets/img/customers/customer-7.png" alt="Item 7 image" class="owl-lazy img-fluid" />
          <h5 class="mt-4 text-center">
            Customer 7
          </h5>
        </a>
        <a href="#">
          <img data-src="assets/img/customers/customer-8.png" alt="Item 8 image" class="owl-lazy img-fluid" />
          <h5 class="mt-4 text-center">
            Customer 8
          </h5>
        </a>
        <a href="#">
          <img data-src="assets/img/customers/customer-9.png" alt="Item 9 image" class="owl-lazy img-fluid" />
          <h5 class="mt-4 text-center">
            Customer 9
          </h5>
        </a>
        <a href="#">
          <img data-src="assets/img/customers/customer-10.png" alt="Item 10 image" class="owl-lazy img-fluid" />
          <h5 class="mt-4 text-center">
            Customer 10
          </h5>
        </a>
        <a href="#">
          <img data-src="assets/img/customers/customer-11.png" alt="Item 11 image" class="owl-lazy img-fluid" />
          <h5 class="mt-4 text-center">
            Customer 11
          </h5>
        </a>
        <a href="#">
          <img data-src="assets/img/customers/customer-12.png" alt="Item 12 image" class="owl-lazy img-fluid" />
          <h5 class="mt-4 text-center">
            Customer 12
          </h5>
        </a>
        <a href="#">
          <img data-src="assets/img/customers/customer-13.png" alt="Item 13 image" class="owl-lazy img-fluid" />
          <h5 class="mt-4 text-center">
            Customer 13
          </h5>
        </a>
        <a href="#">
          <img data-src="assets/img/customers/customer-14.png" alt="Item 14 image" class="owl-lazy img-fluid" />
          <h5 class="mt-4 text-center">
            Customer 14
          </h5>
        </a>
      </div>
    </div>
    <div class="bg-dark text-white p-3 p-lg-4 text-center divider-arrow divider-arrow-t divider-dark">
      <div class="container">
        <h2 class="text-center text-uppercase font-weight-bold my-0">
          Our Partners
        </h2>
        <hr class="hr-lg mt-2 mb-0 w-10 mx-auto hr-primary" />
      </div>
    </div>
  </div>
</div>
{{ end }}